/JavaFX-Project/nbproject/private/
/Stratage/nbproject/private/
/Stratage/build/
/Stratage/dist/
/DataBeas/nbproject/private/
/ActivityDataBus/nbproject/private/
/projectFinal/nbproject/private/
/projectFinal/build/
/projectFinal/dist/
/ProjectTest/nbproject/private/
/ProjectTest/build/
/ProjectTest/dist/
/build/
/ToProject/nbproject/private/
/GUIproject/nbproject/private/
/GUIproject/dist/
/GUIproject/build/